1.inicio/.terraform/
1.inicio/.terraform.lock.hcl
1.inicio/terraform.tfstate
1.inicio/terraform.tfstate.backup
2.tipo-dinamico/terraform.tfstate
2.tipo-dinamico/terraform.tfstate.backup
3.bucles/.terraform/
3.bucles/.terraform.lock.hcl
3.bucles/terraform.tfstate
3.bucles/terraform.tfstate.backup
4.modulos/.terraform/
4.modulos/.terraform.lock.hcl
4.modulos/terraform.tfstate
4.modulos/terraform.tfstate.backup
5.diferentes-entornos/env/dev/.terraform/
5.diferentes-entornos/env/dev/.terraform.lock.hcl
5.diferentes-entornos/env/dev/terraform.tfstate
5.diferentes-entornos/env/dev/terraform.tfstate.backup
5.diferentes-entornos/env/prod/.terraform/
5.diferentes-entornos/env/prod/.terraform.lock.hcl
5.diferentes-entornos/env/prod/terraform.tfstate
5.diferentes-entornos/env/prod/terraform.tfstate.backup
7.backend-cloud/.terraform/
8.workspaces/.terraform/
8.workspaces/.terraform.lock.hcl
9.importar-infra/.terraform/
9.importar-infra/.terraform.lock.hcl
9.importar-infra/terraform.tfstate
9.importar-infra/terraform.tfstate.backup
9.importar-infra/terraform.tfstate.1671500460.backup
test